body {
    margin: 1px 0;
}

i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: url(../images/sprite.png) no-repeat;
}

i.ic-user {
    width: 14px;
    height: 14px;
    background-position: 0 0;
}

i.ic-loop {
    width: 15px;
    height: 14px;
    background-position: -14px 0;
}

i.ic-cart {
    width: 27px;
    height: 20px;
    background-position: -22px 0;
}

/* Head style start */

/* h-info start */
.h-info {
    height: 30px;
    padding: 7px 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
}

.user a:first-child {
    margin-left: 32px;
    border-left: 1px solid #444444;
}

.h-info a {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    border-right: 1px solid #444444;
    color: #ffffff;
}

.h-info-care {
    margin-left: 100px;
}

@media screen and (max-width: 768px) {
    .h-info-care {
        margin-left: 0;
    }

    .user {
        float: right;
    }
}
/* h-info end */

.logo {
    /*outline: 1px solid #4cae4c ;*/
    float: left;
    background-color: #fff;
    padding: 42px 85px 42px 100px;
}

.menu {
    float: left;
    padding: 33px 0 0;
}

.navbar-default {
    margin-bottom: 0;
    font-size: 16px;
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li:first-child > a {
    padding-left: 5px;
}

.cart {
    font-family: Arial sans-serif;
    font-size: 12px;
    color: #b1b0b0;
    background-color: #fff;
    max-width: 30%;
}

.cart-list a {
    padding: 0;
    font-family: Arial sans-serif;
    font-size: 12px;
    color: #b1b0b0;
}

.cart .navbar-collapse {
    padding: 0;
}

.cart .navbar-collapse a {
    padding: 0;
}

.table {
    margin-top: 20px;
    /*margin-bottom: 10px;*/
    /*margin-left: 10px;*/
    border-color: #d6d6d6;
}

.table .cart-info {
    background-color: #fafafa;
}

.cart-list > .navbar-collapse > ul {
    width: 100%;
}

.cart-list > .navbar-collapse > ul > li {
    width: 100%;
}

.cart-list-caret {
    float: right;
    margin-top: 9px;
}

.cart-items {
    border-left: inherit;
    text-align: right;
}

.table-bordered > tbody > tr > td {
    border: 0px;
    border-color: inherit;
}
/* h-nav start */
