/* Common settings*/

[class*="col-"] {
    /*outline: 1px solid #ff0000;*/
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 115px;
    padding-right: 115px;
}

body {
    margin-top: 1px;
}

/* Sprite icons */
i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background: url(../images/sprite.png) no-repeat;
}

i.ic-user {
    width: 14px;
    height: 14px;
    background-position: 0 0;
}

i.ic-loop {
    width: 15px;
    height: 14px;
    background-position: -14px 0;
}

i.ic-cart {
    width: 27px;
    height: 20px;
    background-position: -22px 0;
}

/* Header h-top */

.h-top {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #000000;
}

.h-info {
    text-transform: uppercase;
    color: #ffffff;
}

.h-info-care {
    padding: 7px 0;
}

.account {
    float: right;
    margin: 7px auto;

}

.account a {
    padding: 0 15px 0 15px;
    color: #ffffff;
}

.lang-list {
    float: left;
    height: 100%;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

.user {
    float: left;
    border-right: 1px solid #444444;
}

.search {
    float: left;
    border-right: 1px solid #444444;
}

.account .lang-list .navbar-collapse > ul {
    padding: 0;
    margin: 0;
}

.account .lang-list .navbar-collapse > ul > a {
    padding: 0;
    margin: 0;
}

/* Header h-bottom */

.h-bottom {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.nav {
    font-size: 16px;
}

.nav .navbar {
    float: right;
    margin: 32px 30px 15px 0;
    border: 0;
    background-color: #ffffff;
}

.logo {
    float: left;
    margin: 42px auto;
}

.cart {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-left: 15px;
    font-family: Arial sans-serif;
    font-size: 12px;
    color: #b1b0b0;
    background-color: #fff;
}

.cart-list a {
    padding: 0;
    font-family: Arial sans-serif;
    font-size: 12px;
    color: #b1b0b0;
}

.cart .navbar-collapse {
    padding: 0;
}

.cart .navbar-collapse a {
    padding: 0;
}

.table {
    margin-top: 20px;
    border-color: #d6d6d6;
}

.table .cart-info {
    background-color: #fafafa;
}

.table .cart-info a {
    text-transform: uppercase;
    color: #cacaca;
}


.cart-list > .navbar-collapse > ul {
    width: 100%;
}

.cart-list > .navbar-collapse > ul > li {
    width: 100%;
}

.cart-list-caret {
    float: right;
    margin-top: 9px;
}

.cart-items {
    float: right;
}

.item{
    background: #333;
    text-align: center;
    height: 300px !important;

}

/* Header carousel */


.h-carousel {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.item {
    background: #f6f3ec;
    text-align: center;
    height: 440px !important;

}

.first {
    background-image: url("../images/top-carousel-bg.jpg");
}

.carousel-indicators {
    bottom: -57px;
}

.carousel-indicators li {
    margin: auto 7px;
    background-color: #867a76;
    border: 0;
}

.carousel-indicators .active {
    margin: -1px 7px;
    background-color: #fd926d;
}

.carousel-slogan {
    float: left;
    margin-left: 183px;
    margin-top: 42px;
}

.carousel-slogan .btn {
    display: block;
    width: 156px;
    height: 55px;
    margin-left: 95px;
    margin-top: 18px;
    border-radius: 0;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
    border: 0;
    font-size: 16px;
    font-family: Helvetica Neue LT Std;
    text-transform: uppercase;
    color: #ffffff;
}

.carousel-slogan .btn img {
    margin-left: 15px;
}

.carousel-control.left {
    background: url("../images/carousel-prev.png") no-repeat left center;
}

.carousel-control.right {
    background: url("../images/carousel-next.png") no-repeat right center;
}

.carousel-radio {
    height: 75px;
}

/* Social */

.social {
    background-color: #ededed
}

.social .btn {
    background-image: url("../images/email-btn.png");
    padding: 13px;
}

.social .input-group .form-control {
    height: 28px;
    width: 130px;
    margin: 14px auto;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    font-family: Arial sans-serif;
    font-style: italic;
    color: #b9b9b9;
}

.social label {
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #747474;
}

.social label {
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #747474;
}

.social .social-find {
    margin-right: 6px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #6b6b6b;
}

/* Brand */

.container.brand {
    padding-left: 114px;
    padding-right: 114px;
}

.brand {
    margin-top: 40px;
    background-color: #ffffff;
}

.brand .right .top {
    margin-left: 2px;
    max-width: 100%;
}

.brand .right .bottom {
    margin-left: 2px;
    margin-top: 2px;
    max-width: 100%;
}

.brand button.shop {
    position: absolute;
    left: 30px;
    bottom: 18px;
}

.brand .btn-default {
    border-radius: 0;
    border: 0;
    background-color: #4fafa0;
    font-size: 12px;
    font-family: Helvetica Neue LT Std;
    text-transform: uppercase;
    color: #ffffff;
}

.brand .btn img {
    margin-left: 8px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* b-carousel */

.container.b-carousel {
    margin-top: 50px;
}

.content {
    background-color: #fd926d;
}

.b-carousel .b-nav {
    padding: 0;
    border-bottom: 0;
    background-color: #fff;
}

.b-carousel .nav-tabs {
    border: 0;
}

.b-carousel .nav-tabs > li.active > a {
    background-color: #fd926d;
    font-size: 15px;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.b-carousel .nav-tabs > li > a {
    border: 0px;
    border-radius: 0;
    margin-right: 2px;
    font-size: 15px;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    color: #8e8e8e;
}

.b-carousel .nav-tabs > li > a:hover,
.b-carousel .nav-tabs > li > a:focus {
    border: 0;
    color: #ffffff;
    background-color: #fd926d;
}

.content .row {
    margin-top: 29px;
}

.content .col-md-3,
.content  .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fd926d;
}

.content .row img {
    max-width: 100%;
}

.content .item a:hover .description {
    width: 103%;
}

.content .item a:hover img {
    max-width: 103%;
}


.content .row img.sale {
    position: absolute;
    top: 0;
    left: 15px;
}

.content .description {
    margin-bottom: 30px;
    background-color: #f7f7f7;
    font-family: Arial sans-serif;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
}

.content .title {
    display: block;
    padding-top: 12px;
    font-size: 12px;
}

.content .price {
    display: block;
    font-size: 22px;
}

.content .btn {
    margin-bottom: 11px;
    border-radius: 0px;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
    font-size: 12px;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    color: #ffffff;

}

.content .btn img {
    margin-left: 5px;
    margin-bottom: 3px;
}

.carousel-inner .active.left {
    left: -25%;
}

.carousel-inner .next {
    left:  25%;
}

.carousel-inner .active.right {
    left: 25%;
}

.carousel-inner .prev {
    left:  -25%;
}

.b-carousel .carousel-control {
    width: 47px;
}

.b-carousel .carousel-control.left {
    right: 47px;
    left: auto;
    background: url("../images/b-carousel-prev.png") no-repeat left center;
}

.b-carousel .carousel-control.right {
    background: url("../images/b-carousel-next.png") no-repeat right center;
}

.b-carousel .carousel-control.right:hover {
    background: url("../images/b-carousel-next-act.png") no-repeat right center;
}

.b-carousel .carousel-control.left:hover {
    background: url("../images/b-carousel-prev-act.png") no-repeat right center;
}